<title>PDF Password</title>
        	 	<link rel="stylesheet" media="screen" href="static/bootstrap.min.css">
        	 	<link rel="stylesheet" href="static/bootstrap-theme.min.css">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
 
 <form method=post enctype="multipart/form-data" action="/" >   
 <div class="form-group">      
      {{form.password(class_="form-control", placeholder="Set the file password")}}
      {{form.uploaded_file(class_="form-control")}}
 </div>  
    <button type="submit" class="btn btn-success">Encrypt</button>
  </form>
 
 {% if file_url %}
<br>
<a href="{{ file_url }}"> Download protected file </a>
{% endif %}
 
</div>
